:root{
    --title_color: purple;
    --header_h1_color: purple;
    --text_color: purple;
    --gradient: linear-gradient(purple, blue);
    --background_color: black;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    font-size: 200%;
    color: var(--title_color);
}

header p {
    text-align: center;
    color: var(--text_color);
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
}

.one {
    grid-column: 1 ;
    grid-row: 1;
}

.two {
    grid-column: 2 ;
    grid-row: 1;
}

.three {
    grid-column: 3;
    grid-row: 1;
}

.four {
    grid-column: 1;
    grid-row: 2;
}

.five {
    grid-column: 2;
    grid-row: 2;
}

.six {
    grid-column: 3;
    grid-row: 2;
}

footer {
    text-align: center;
    color: var(--text_color);
    font-size: 120%;
}